autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
fastapi==0.61.1
flake8==3.8.3
idna==2.10
isort==5.4.2
jedi==0.17.2
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.2
paho-mqtt==1.5.1
parso==0.7.1
pycodestyle==2.6.0
pydocstyle==5.1.0
pyflakes==2.2.0
pylint==2.6.0
pyside-material==1.16
PySide2==5.15.0
python-dotenv==0.14.0
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
urllib3==1.25.10
wrapt==1.12.1
yapf==0.30.0